/* main.css */

/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  